<div ng-controller="AuthController">
  <nav class="navbar navbar-inverse navbar-fixed-top" style="height:80px; border:none;" role="navigation">
    <div class="container">
      <div style="text-align:center; padding:20px;">
        <a href="#/"><img src="img/crowdchat-logo.png"></a>
        <ul style="color:#ffffff" class="nav navbar-nav navbar-right">
          <li>
            <a ng-href="#" ng-click="login()"><i class="fa fa-twitter fa-lg"></i> login</a>
            <a ng-href="#" ng-click="logout()"><img src="" class="img-circle"> logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>