<div style="margin-top:80px;">

<div class="bar bar-subheader">
  <h2 class="title">create new @crowdchat</h2>
</div>
<form>
	<div class="list">
	  <label class="item item-input">
	    <span class="input-label">www.crowdchat.io/</span>
	  	<input type="text" placeholder="yourcrowdchat">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Location</span>
	  	<input type="text">
	  </label>
	  <div style="color:red;padding:10px;font-size:11px;">Sorry, that crowdchat already exists.<br></div>
	  <div style="color:red;padding:10px;font-size:11px;">Please provide a crowdchat name.</div>

	  <button class="button button-block button-calm" type="submit"><i class="fa fa-twitter fa-lg"></i> Sign In and Create</button>
  </form>
</div>

</div>